{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "about" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="div-width-100-text-center">
	<h3>Богодаровский сельский дом культуры</h3>
</div>
<div>
	<p>Богодаровка — село в Щербактинском районе Павлодарской области Казахстана. Административный центр Илличевского сельского округа. Расположено в 13 км к северу от районного центра Шарбакты. По данным переписи 2009 года, в селе проживало 212 человек.</p>
	<p>Сельские общины, а Богодаровка является небольшим селом, переживают переходный период. Они переосмысливают и перепозиционируют себя за счет диверсификации своей экономической базы, повышения качества жизни и перенастройки себя для новых функций и ролей. </p>
	<p>Вопросы удержания и вовлечения молодежи, привлечения новых жителей и предприятий, а также поддержания жизнеспособности и самобытности сообщества занимают центральное место в этих усилиях. Существует осознание того, что, когда многие традиционные отрасли, основанные на природных ресурсах, находятся под угрозой, сельские сообщества должны стремиться к развитию не только новых источников богатства, но и нового самоощущения, и именно здесь искусство и культура могут сыграть ключевую роль в устойчивости сообщества. Искусство, культура и наследие все чаще рассматриваются не только как удобства для повышения качества жизни, но и как основа, на которой зиждется будущее этих сельских сообществ. Важную роль в культурной жизни села играет сельский дом культуры (СДК).</p>
</div>
<div>
	<h4 style="text-align: center">Годовой план работы</h4>
</div>
<div class="row">
	<table class="table-manager">
		<thead>
			<tr>
				<th>Наименование мероприятия</th>
				<th>Сроки проведения</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Вокальный конкурс исполнителей песен композитора Калыбека Дерипсалдина «Коктем- кыздар»</td>
				<td>Январь</td>
			</tr>
			<tr>
				<td>Областной айтыс школьников «Жас тулпар»</td>
				<td>Февраль</td>
			</tr>
			<tr>
				<td>Областной отборочный тур вокального конкурса «Алтын микрофон»</td>
				<td>Февраль</td>
			</tr>
			<tr>
				<td>Областной конкурс организаций и работников культуры и искусства «Рухани казына»</td>
				<td>Март-май</td>
			</tr>
			<tr>
				<td>Областной вокальный конкурс «Сахналык жекпе-жек»</td>
				<td>Март</td>
			</tr>
			<tr>
				<td>IV Международный фестиваль хореографического искусства «Наурыз приглашает друзей»</td>
				<td>Март</td>
			</tr>
			<tr>
				<td>Областной фестиваль юмористических театров имени писателя-сатирика, ученого-этнографа Сеита Кенжеахметова</td>
				<td>Апрель</td>
			</tr>
			<tr>
				<td>Международный вокальный конкурс «Алтын микрофон»</td>
				<td>Апрель</td>
			</tr>
			<tr>
				<td>Открытый региональный конкурс народного танца хореографических коллективов «Ертіс толкындары»</td>
				<td>Апрель</td>
			</tr>
			<tr>
				<td>Областной конкурс чтецов «Живое слово»: «Kiran -достык Kenipi. Книжный мост дружбы»</td>
				<td>Апрель</td>
			</tr>
			<tr>
				<td>Областная спартакиада, посвященная Дню работников культуры и искусства</td>
				<td>Май</td>
			</tr>
			<tr>
				<td>Творческий марафон «Dala fest Pavlodar»</td>
				<td>Июнь-август</td>
			</tr>
			<tr>
				<td>Областной конкурс домбристов, проходящий в рамках Национального дня домбры</td>
				<td>Июнь</td>
			</tr>
			<tr>
				<td>Областной айтыс акынов, посвященный 150-летию Аксулу Орысбайкызы</td>
				<td>Июнь</td>
			</tr>
			<tr>
				<td>Республиканский фестиваль имени Нуржана Наушабайулы «Аркада Наушабайдын Нуржаны откен...»</td>
				<td>Июнь</td>
			</tr>
			<tr>
				<td>Областной фестиваль ансамблей казахских народных инструментов</td>
				<td>Июль</td>
			</tr>
			<tr>
				<td>Областной семейный айтыс «Отбасы - берекенщ кайнар булаты», посвященный Международному Дню семьи</td>
				<td>Сентябрь</td>
			</tr>
			<tr>
				<td>Областной вокальный конкурс исполнителей песен Павлодарских композиторов «Павлодар сазы»</td>
				<td>Сентябрь</td>
			</tr>
			<tr>
				<td>Республиканский айтыс акынов, посвященный 150-летию Аксулу Орысбайкызы	</td>
				<td>Октябрь</td>
			</tr>
			<tr>
				<td>Областной конкурс кавер «Best cover Pavlodar»</td>
				<td>Октябрь</td>
			</tr>
			<tr>
				<td>Ежегодная церемония награждения лучших работников культуры и искусства, руководителей творческих коллективов</td>
				<td>Декабрь</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</div>
{% endblock content %}
